<div id="curr_card">Description: <%=@card.definition%></div>
<% current_round = current_user.guesses.order("updated_at DESC").first.round_id %>


<form class="submit_guess" action= "/round/<%=@round.id%>/card/<%=@card.id%>" method="POST">
  <label for="answer">Your Answer</label>
  <input id="answer" type="text" name="answer">
  <input type="Submit">
</form>
 

 <p><%= @resp if @resp %></p>


<div class="user_stat">
  <h1>Stats for <%=current_user.username%></h1>
    <p># Right: <%= Guess.where(:round_id => current_round).where(:outcome => true).count %></p>
    <p># Wrong: <%= Guess.where(:round_id => current_round).where(:outcome => false).count %></p>
    <p>% Right: <%= Guess.where(:round_id => current_round).where(:outcome => true).count/Guess.where(:round_id => current_round).count.to_f %></p>
    </tr>
  </table>
</div>
